* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 100vh;
  width: 60vw;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  margin: 30px auto;
  font-size: 50px;
  color: white;
  text-decoration: underline;
}
.item {
  display: flex;
  justify-content: space-around;
  width: 80%;
  /* border: 2px solid white; */
}
.item button {
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
}
.item button:hover {
  cursor: pointer;
  background-color: yellow;
}
.item button img {
  height: 60px;
}

#play {
  font-size: 20px;
  font-weight: 600;
  width: 150px;
  margin: 50px auto;
  padding: 8px 0;
  border-radius: 30px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
}
#play:hover {
  font-size: 22px;
  font-weight: 600;
  width: 155px;
  margin: 50px auto;
  padding: 10px 0;
  border-radius: 30px;
  cursor: pointer;
  background-color: lightsalmon;
  color: white;
}
.result {
  display: flex;
  /* border: 2px solid white; */
  width: 500px;
  justify-content: space-around;
  padding: 20px;
}
.result .text {
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  color: white;
  margin: auto 20px;
}
.res {
  font-size: 50px;
  font-weight: 700;
  margin: 30px auto;
  color: white;
}
.you {
  background-color: lightblue;
  border-radius: 100px;
  height: 200px;
  width: 200px;
  display: flex;
  padding: 25px;
}
.computer {
  background-color: red;
  border-radius: 100px;
  height: 200px;
  width: 200px;
  display: flex;
  padding: 25px;
}

@media (max-width: 428px) {
    .container{
        width: 100vw;
    }
    .container h1{
        font-size: 30px;
    }
    .result .you{
        height: 150px;
        width: 150px;
    }
    .result .computer{
        height: 150px;
        width: 150px;
    }
    .result .text {
        font-size: 30px;
        margin: 0 0;
      }
    .res{
        font-size: 40px;
    }
}
